{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-header">
                <h4>Register</h4>
            </div>

            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>User Type</label>

                        <select name="user_type" class="form-control">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success w-100">
                        Register
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}